__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
dist/
build/
.eggs/
*.egg-info/
pip-wheel-metadata/
*.egg
.cache/
.python-version
docs/_build/
*.log
*.sqlite3
.DS_Store
*.bin
*.pt
*.pth
